<p>Hi <%= username %>,</p>
<p>Thank you for registering with us! We're glad to have you on board.</p>

<p>Please activate your account by clicking the link: <a href="<%= frontend_url %>/activate/<%= activation_token %>" > Activation Link </a></p>

<p>Best regards,<br>Your Service Team</p>
